body{
    
}

.font-white{
    color: white !important;
}

.card-container{
    background-color: #282a30;
    margin-top: 2em;
    padding: 1em 2em;
    width: 100%;
    box-shadow: 10px 10px 22px -1px rgba(0,0,0,0.30);
}

.profile-picture img{
    width: 40px;
    border-radius: 50%;
}

.user-caption{
    line-height: 42px;
    margin-left: 1em;
}

.user-caption span{
    font-size: 19px;
    font-weight: bolder;
}

.card-picture img{
    margin:1em 0em;
    width: 100%;
}

.post-comment img{
    width: 30px;
}

.icons-holder img{
    width: 30px;
}

::placeholder { 
    color: #ddd;
    padding: 3px;
  }

input[type="text"] {
    text-indent: 5px;
    width: 93%; 
    border: 1px solid #ddd;
    box-sizing: border-box;
    background: transparent;
    color: white;
}

.title-menu{
    font-size: 25px;
}

.main-menu{

}

.menu-inline{

}

#clear{
    border: 0;
    background-color: #282a30;
    margin-top: 2em;
    padding: 1em 2em;
    color:white;
    font-weight: bolder;
    border-radius: 15px;
    box-shadow: 10px 10px 22px -1px rgba(0,0,0,0.30);
}

.menu-element{
    display:inline-block;
    line-height: 20px !important;
    font-size: 15px;
    margin-top: 0.7em;
}

li{
    margin: 0 0.6em;
}

input:focus { 
    outline: none; 
}



.comment-user{
    font-weight: bolder;
}

.user-profile{
    display: inline-block;
}

.list-post{
    padding-inline-start: 0em !important;
    list-style-type: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}